Flight-Web Services SOAP-S01 Flight Operations/WSDL/Flights_SOAP_WSDL/Flights_SOAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="HP.SOAQ.SampleApp" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="HP.SOAQ.SampleApp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="HP.SOAQ.SampleApp/Imports">
      <xsd:import schemaLocation="http://localhost:8000/Flights_SOAP?xsd=xsd0" namespace="HP.SOAQ.SampleApp" />
      <xsd:import schemaLocation="http://localhost:8000/Flights_SOAP?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/Flights_SOAP?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlightsDAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFlightsSoapService_CreateFlightOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFlightOrder" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_CreateFlightOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFlightOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_CreateFlightOrder_StringFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q1:string" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_GetFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlights" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_GetFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_GetFlightOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightOrders" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_GetFlightOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_UpdateFlightOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlightOrder" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_UpdateFlightOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlightOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_DeleteFlightOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFlightOrder" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_DeleteFlightOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFlightOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_DeleteAllFlightOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllFlightOrders" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_DeleteAllFlightOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllFlightOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="IFlightsSoapService">
    <wsdl:operation name="CreateFlightOrder">
      <wsdl:input wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/CreateFlightOrder" message="tns:IFlightsSoapService_CreateFlightOrder_InputMessage" />
      <wsdl:output wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/CreateFlightOrderResponse" message="tns:IFlightsSoapService_CreateFlightOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/CreateFlightOrderStringFault" name="StringFault" message="tns:IFlightsSoapService_CreateFlightOrder_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlights">
      <wsdl:input wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/GetFlights" message="tns:IFlightsSoapService_GetFlights_InputMessage" />
      <wsdl:output wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/GetFlightsResponse" message="tns:IFlightsSoapService_GetFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightOrders">
      <wsdl:input wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/GetFlightOrders" message="tns:IFlightsSoapService_GetFlightOrders_InputMessage" />
      <wsdl:output wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/GetFlightOrdersResponse" message="tns:IFlightsSoapService_GetFlightOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFlightOrder">
      <wsdl:input wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/UpdateFlightOrder" message="tns:IFlightsSoapService_UpdateFlightOrder_InputMessage" />
      <wsdl:output wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/UpdateFlightOrderResponse" message="tns:IFlightsSoapService_UpdateFlightOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFlightOrder">
      <wsdl:input wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/DeleteFlightOrder" message="tns:IFlightsSoapService_DeleteFlightOrder_InputMessage" />
      <wsdl:output wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/DeleteFlightOrderResponse" message="tns:IFlightsSoapService_DeleteFlightOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllFlightOrders">
      <wsdl:input wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/DeleteAllFlightOrders" message="tns:IFlightsSoapService_DeleteAllFlightOrders_InputMessage" />
      <wsdl:output wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/DeleteAllFlightOrdersResponse" message="tns:IFlightsSoapService_DeleteAllFlightOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightsServiceMethods" type="tns:IFlightsSoapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateFlightOrder">
      <soap:operation soapAction="HP.SOAQ.SampleApp/IFlightsSoapService/CreateFlightOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFlights">
      <soap:operation soapAction="HP.SOAQ.SampleApp/IFlightsSoapService/GetFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightOrders">
      <soap:operation soapAction="HP.SOAQ.SampleApp/IFlightsSoapService/GetFlightOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFlightOrder">
      <soap:operation soapAction="HP.SOAQ.SampleApp/IFlightsSoapService/UpdateFlightOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFlightOrder">
      <soap:operation soapAction="HP.SOAQ.SampleApp/IFlightsSoapService/DeleteFlightOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllFlightOrders">
      <soap:operation soapAction="HP.SOAQ.SampleApp/IFlightsSoapService/DeleteAllFlightOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>